<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="searchbarVisible = !searchbarVisible">Toggle Searchbar</ion-button>

  <!-- This leaks memory -->
  <div *ngIf="searchbarVisible">
    <ion-searchbar></ion-searchbar>
  </div>

  <!-- This does not leak memory -->
  <!--   
  <div>
    <ion-searchbar *ngIf="searchbarVisible"></ion-searchbar>
  </div>
  -->

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>